<a href="https://colab.research.google.com/github/neisg/Case-Economia---Python/blob/main/Untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Case economia-renda percapita

In [3]:
#Bibliotecas
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
import warnings 
warnings.filterwarnings ('ignore')

In [6]:
#Lendo Base de dados
Base_Dados = pd.read_excel('/Dados_Pib.xlsx')

#verificado
Base_Dados.head(10)

  Territorialidades   Ano  PIB per capita
0            Brasil  2013           22.20
1              Acre  2013           12.37
2           Alagoas  2013            9.45
3             Amapá  2013           14.53
4          Amazonas  2013           18.25
5             Bahia  2013           11.40
6             Ceará  2013           10.40
7  Distrito Federal  2013           52.77
8    Espírito Santo  2013           25.56
9             Goiás  2013           19.68

In [8]:
Base_Dados.groupby(by=['Territorialidades', 'Ano']).mean()

                        PIB per capita
Territorialidades Ano
Acre              2013           12.37
                  2014           13.41
                  2015           12.24
                  2016           11.18
Alagoas           2013            9.45
...                                ...
São Paulo         2016           30.24
Tocantins         2013           13.47
                  2014           13.77
                  2015           13.79
                  2016           13.68

[112 rows x 1 columns]